@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

.product-list {
  @apply flex flex-wrap justify-center;
  // ...
}

.swiper-container {
  width: 100%;
  padding: 10px;

  @media (max-width: 640px) {
    padding: 10px;
  }

  .swiper-slide {
    @apply object-cover;
    width: auto;

    @media (max-width: 640px) {
      width: 100%;
    }

    @media (min-width: 641px) and (max-width: 1024px) {
      width: 50%;
    }

    @media (min-width: 1025px) {
      width: 25%;
    }
  }
}
