@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

.product-item {
  @apply p-4 m-5 hover:scale-125 transition duration-500 font-custom2 ml-1;

  &__image {
    display: inline-block;
    width: 150px;
    @media (max-width: 640px) {
      width: 100px; // Smaller image size on mobile
    }

    & > img {
      width: 100%;
      @apply object-cover;
    }
  }

  &__title {
    font-size: 0.5rem;
    @media (max-width: 640px) {
      font-size: 0.4rem; // Smaller font size on mobile
    }
  }

  &__buttons {
    @apply flex space-x-2 mt-2;
  }
}

.color-button {
  @apply w-5 h-5 rounded-full text-sm font-medium lg:px-2 md:px-2 sm:px-0;

  &__yellow {
    background-color: #e6ca97;
  }

  &__roseGold {
    background-color: #e1a4a9;
  }

  &__whiteGold {
    background-color: #d9d9d9;
  }
}

.product-item__selected_color_name {
  @apply font-custom2 font-light m-1;

  font-size: 0.5rem;
}

.selected-button {
  @apply border border-black p-1;
}
