@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

.product-item {
  @apply p-4 m-5;

  &__image {
    @apply hover:scale-150 transition duration-500;

    display: inline-block;
    width: 150px;

    & > img {
      width: 100%;
    }
  }

  &__title {
    @apply hover:scale-110 transition duration-500 font-custom2 ml-1;

    font-size: 0.5rem;
  }

  &__buttons {
    @apply flex space-x-2 mt-2;
  }
}

.color-button {
  @apply w-5 h-5 rounded-full text-sm font-medium;

  &__yellow {
    background-color: theme("colors.yellow.200");
  }

  &__roseGold {
    background-color: theme("colors.pink.200");
  }

  &__whiteGold {
    background-color: theme("colors.gray.200");
  }
}

.product-item__selected_color_name {
  @apply font-custom2 font-light m-1;

  font-size: 0.5rem;
}

.selected-button {
  @apply border border-black p-1;
}
