@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir";
  src: url("../src/fonts/AvenirBook.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../src/fonts/Montserrat-VariableFont_wght.ttf");
}
